<form method="post" action="{{ path('venta_delete', {'id': ventum.id}) }}" onsubmit="return confirm('¿Esta seguro que desea eliminar?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ventum.id) }}">
    <button id="boton" class="btn">Eliminar</button>
</form>
