{% extends 'base.html.twig' %}

{% block title %}Editar Concesionario{% endblock %}

{% block body %}
    <h1 class="h1titulosdepaginas">Editar Concesionario</h1>

    {{ include('concesionario/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a class="botonregresar" href="{{ path('concesionario_index') }}">Regresar</a>

    {{ include('concesionario/_delete_form.html.twig') }}
{% endblock %}
