<form method="post" action="{{ path('marca_delete', {'id': marca.id}) }}" onsubmit="return confirm( '¿Esta seguro que desea eliminar?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ marca.id) }}">
    <button id="boton" class="btn">Eliminar</button>
</form>
