{% extends 'base.html.twig' %}

{% block title %}nuevo Marca{% endblock %}

{% block body %}
    <h1 class="h1titulosdepaginas">Crear nuevo Marca</h1>

    {{ include('marca/_form.html.twig') }}

    <a  class="botonregresar" href="{{ path('marca_index') }}">Regresar</a>
{% endblock %}
